@import '~bootstrap/scss/bootstrap';


table.table_index{
  table-layout: fixed;
  th:not(.row_tiny,.row_small) {
    width: 100px;
  }
  th.row_tiny{
    width: 40px;
  }
  th.row_small{
    width: 60px;
  }
}

table.table_show{
  table-layout: fixed;
}

