<% breadcrumb :course_list %>
<%= breadcrumbs pretext: '', separator: ' ＞ ' %>

<%
str = if @courses.size == 1
        @courses.first.course_title_japanese
      else
        @courses.map{|c| c.course_title_japanese.chars }.inject{|memo, item|
          Diff::LCS.LCS(memo, item).join
        }
      end
%>
<h1>「<%= str %>」の授業一覧</h1>

<%= render 'courses/index_base' %>

