<% breadcrumb :root %>
<%= breadcrumbs style: :bootstrap, pretext: '', separator: ' / ' %>
<div class="container">
  <h1>UEC Campus info Explorer and Uploader</h1>
  <br>
  <ul>
    <li><h2><a href='/years/2019/courses'>2019年の授業一覧</a></h2></li>
    <li><h2><a href='/years/2020/courses'>2020年の授業一覧</a></h2></li>
  </ul>
  <p>授業を検索したり、授業の感想を共有できたりします</p>
  <p>インクリメンタルな検索には<a target="_blank" href="https://masa5555.github.io/uecSyllabusSearch/">uecSyllabusSearch</a>が便利です</p>
</div>
